.imgConstruction{
  display: block;
  margin: 0 auto;
}

.tchat{
  font-family: OCR A Std, monospace, sans-serif;
  margin-top: 20px
}

.form-control{
  width: 300px;
}
.div-chat{
  padding: 1rem;
  width: 484px;
}
