<div class="row">

  <div class="col-8" id="composant">

    <div class="card">
      <div class="card-body">

        <div class="row">
          <div class="col-4">
          <img src="assets/imageConnexion/connexion.jpg">
          </div>
          <div class="col-8">

            <form [formGroup]="loginForm" id="cardFormConnect">
              <div id="formConnect" class="form-group">
                <label for="email" style=" font-weight: bold;">Email</label>
                <input type="text" class="form-control" id="email" aria-describedby="loginHelp" placeholder="Merci de renseigner votre email">
                <!--<small id="loginHelp" class="form-text">Login oublié? Recuperez-le ici !</small>-->
              </div>

              <div class="form-group">
                <label for="password" style=" font-weight: bold;">Mot de passe</label>
                <input type="password" class="form-control" id="password" placeholder="Merci de renseigner votre mot de passe">
                <small id="passwordHelp" class="form-password">Mot de passe perdu? Récupérez-le ici !</small>
              </div>

              <button type="submit" class="btn btn-primary">Se connecter</button>

            </form>

          </div>

        </div>
      </div>
    </div>

  </div>
</div>
