
<div class="row partieDeroulement" id="partieDeroulement">
    <div class="col-lg-3 fichePerso" id="fichePerso">
      <app-fiche-personnage *ngIf="personnage !== undefined" [personnage]="personnage"></app-fiche-personnage>
    </div>
    <div class="col-lg-7 partie" style="text-align: center; margin-top: 20px">
      <div id="AvatarMJ" style="margin-bottom: 20px">
        <img src="assets/imagePartie/avatar1.jpg" alt="MJ" class="rounded">
        <figcaption>Maître du Jeu</figcaption>
      </div>
      <div class="row">
        <div class="col-12" style="margin-bottom: 20px">
          <img src="assets/imagePartie/carte2.jpg" class="img" alt="carte"/>
        </div>
      </div>
      <div class="row" style="text-align: center">
        <div class="col-3">
          <img src="assets/imagePartie/elfe.jpg" alt="..." class="rounded">
          <figcaption>Joueur 1</figcaption>
        </div>
        <div class="col-3">
          <img src="assets/imagePartie/gnome.jpg" alt="..." class="rounded">
          <figcaption>Joueur 2</figcaption>
        </div>
        <div class="col-3">
          <img src="assets/imagePartie/magicien.jpg" alt="..." class="rounded">
          <figcaption>Joueur 3</figcaption>
        </div>
        <div class="col-3">
          <img src="assets/imagePartie/tigre.jpg" alt="..." class="rounded">
          <figcaption>Joueur 4</figcaption>
        </div>
      </div>
    </div>
    <div class="col de">
      <app-des></app-des>
    </div>
</div>
<footer>
  <app-chat></app-chat>
</footer>
