#partieDeroulement{
  position: relative;
  border:1px solid #f00;
  height: 80vh;

}
#fichePerso {
  text-align: justify;
  overflow: auto;
}

#de{
  border: solid black 1px;
}

button{
  margin: 0 auto;
}


