.partieDeroulement{
  height: 80vh;
  padding:  0 1rem;
  border-bottom: silver 8px solid;
}

.fichePerso {
  text-align: justify;
  overflow: auto;
  border-right: silver 8px solid;
  background-image: url("../../assets/imagePartie/image.png");
  background-position-x: center;
  background-position-y: center;
}

.de{
  border-left: silver 8px solid;
}

.lf{
  border-right: silver 8px solid;
}


