<form [formGroup]="personnageform" novalidate
      (ngSubmit)="onSubmit()">
  <div>
    <label for="nom" class="police">Nom</label>
    <p id="nom" rows="3">{{personnage.nom}}</p>
  </div>
  <div>
    <label for="classe" class="police">Classe</label>
    <p class="p" id="classe" rows="3">{{personnage.classe}}</p>
  </div>

  <div class="form-row">
    <div class="col-9">
      <label for="pv" class="police">Points de vie</label><br>
      <ngb-progressbar  min="1" type="info" [value]="personnage.pv" ngDefaultControl></ngb-progressbar>
    </div>
    <div class="col-3">
      <input  min="1" type="number" class="form-control"  [(ngModel)]="personnage.pv" id="pv" formControlName="pv" ngDefaultControl>
    </div>
  </div>
  <div class="form-row">
    <div class="col-9">
      <label for="puissance" class="police">Puissance</label><br>
      <ngb-progressbar min="1" max="10"  type="info" [value]="personnage.puissance" ngDefaultControl></ngb-progressbar>
    </div>
    <div class="col-3">
      <input min="1" max="10" type="number" class="form-control" [(ngModel)]="personnage.puissance" id="puissance" formControlName="puissance" ngDefaultControl>
    </div>
  </div>
  <div class="form-row">
    <div class="col-9">
      <label for="defense" class="police">Défense</label><br>
      <ngb-progressbar  min="1" max="10" type="info" [value]="personnage.defense"  ngDefaultControl></ngb-progressbar>
    </div>
    <div class="col-3">
      <input type="number" min="1" max="10" class="form-control" [(ngModel)]="personnage.defense" id="defense" formControlName="defense" ngDefaultControl>
    </div>
  </div>
  <div class="form-row">
    <div class="col-9">
      <label for="esprit" class="police">Esprit</label><br>
      <ngb-progressbar  min="1" max="10" type="info" [value]="personnage.esprit" ngDefaultControl></ngb-progressbar>
    </div>
    <div class="col-3">
      <input type="number"  min="1" max="10" class="form-control" [(ngModel)]="personnage.esprit" id="esprit" formControlName="esprit" ngDefaultControl>
    </div>
  </div>
  <div class="form-row">
    <div class="col-9">
      <label for="intelligence" class="police">Intelligence</label><br>
      <ngb-progressbar min="1" max="10" type="info" [value]="personnage.intelligence" ngDefaultControl></ngb-progressbar>
    </div>
    <div class="col-3">
      <input  min="1" max="10" type="number" class="form-control" [(ngModel)]="personnage.intelligence" id="intelligence" formControlName="intelligence" ngDefaultControl>
    </div>
  </div>
  <div class="form-row">
    <div class="col-9">
      <label for="init" class="police">Init</label><br>
      <ngb-progressbar   min="1" max="10" type="info" [value]="personnage.init" ngDefaultControl></ngb-progressbar>
    </div>
    <div class="col-3">
      <input  min="1" max="10" type="number" class="form-control" [(ngModel)]="personnage.init" id="init" formControlName="init" ngDefaultControl>
    </div>
  </div>
  <label for="inventaire" class="police">Inventaire</label>
  <div>
    <textarea id="inventaire" formControlName="inventaire" ngDefaultControl style="width: 100%; height: 50%;">{{personnage.inventaire}}</textarea>
  </div>
  <label for="equipement" class="police">Equipement</label>
  <div>
    <textarea id="equipement" formControlName="equipement" ngDefaultControl style="width: 100%; height: 50%;">{{personnage.equipement}}</textarea>
  </div>
  <div>
    <label for="background" class="police">Background</label>
    <p id="background" rows="3">{{personnage.background}}</p>
  </div>
  <div>
    <label for="race" class="police">Race</label>
    <p id="race" rows="3">{{personnage.race}}</p>
  </div>
  <div>
    <label for="sexe" class="police">Sexe</label>
    <p id="sexe" rows="3">{{personnage.sexe}}</p>
  </div>
  <div>
    <label for="id_joueur"></label>
    <input type="hidden" formControlName="id" id="id_joueur" aria-describedby="id">
  </div>
</form>

