<div class="container dashboard" *ngIf="joueur">
  <div class="row">
    <div class="dashboard-left col-sm-3">
      <p class="phrase-connexion">
        Bienvenue {{joueur.pseudo}}.
      </p>
      <img class="img-avatar" src="../../assets/imageCreation/flat-avatar.png">
      <button class="btn btn-primary bouton-deco">Devenir MJ</button>
      <button class="btn btn-primary bouton-deco" [routerLink]="['/']">Déconnexion</button>
      <ul class="list-group">
        <li class="list-group-item">
          <a>Liste des parties en cours</a>
        </li>
        <li class="list-group-item">
          <a>Listes de vos personnages</a>
        </li>
      </ul>
    </div>
    <div class="dashboard-section col-sm-9">
      <h2>Listes de mes parties en cours</h2>
      <div *ngFor="let p of joueur.listPartie">
        <div class="block-partie">
          <h4>{{p.titrePartie}}</h4>
          <p>{{p.description}}</p>
          <button class="btn btn-primary pull-right" [routerLink]="['/partie/:id']">Acceder à la partie</button>
        </div>
      </div>
      <app-personnage></app-personnage>
    </div>
  </div>
</div>
