<form [formGroup]="personnageform" novalidate
      (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="id"></label>
    <input type="hidden" formControlName="id" id="id" aria-describedby="id">
  </div>
  <div class="form-group">
    <label for="nom">Nom du Personnage</label>
    <input type="text" class="form-control" formControlName="nom" id="nom"  placeholder="Entrer un nom">
  </div>
  <div class="form-group">
    <label for="class">Choisir sa classe</label>
      <select id="class" class="form-control" formControlName="class">
        <option>Barbare</option>
        <option>Barde</option>
        <option>Druide</option>
        <option>Ensorceleur</option>
        <option>Guerrier</option>
        <option>Magicien</option>
        <option>Moine</option>
        <option>Paladin</option>
        <option>Prêtre</option>
        <option>Rôdeur</option>
        <option>Roublard</option>
      </select>
  </div>
  <label for="pv">Points de vie</label><br>
  <div class="form-row">
    <div class="form-group col-sm-10">
      <ngb-progressbar  min="1" type="info" [value]="this.personnage.pv" formControlName="pv" ngDefaultControl></ngb-progressbar>
    </div>
    <div class="form-group col-sm-2">
      <input  min="1" type="number" class="form-control"  [(ngModel)]="this.personnage.pv" id="pv" formControlName="pv" ngDefaultControl>
    </div>
  </div>
  <label for="puissance">Puissance</label>
  <div class="form-row">
    <div class="form-group col-sm-10">
      <ngb-progressbar min="1" max="10"  type="info" [value]="this.personnage.puissance"  formControlName="puissance" ngDefaultControl></ngb-progressbar>
    </div>
    <div class="form-group col-sm-2">
          <input min="1" max="10" type="number" class="form-control" [(ngModel)]="this.personnage.puissance" id="puissance" formControlName="puissance" ngDefaultControl>
    </div>
  </div>
  <label for="defense">Défense</label>
  <div class="form-row">
    <div class="form-group col-sm-10">
      <ngb-progressbar  min="1" max="10" type="info" [value]="this.personnage.defense" formControlName="defense" ngDefaultControl></ngb-progressbar>
    </div>
    <div class="form-group col-sm-2">
      <input type="number" min="1" max="10" class="form-control" [(ngModel)]="this.personnage.defense" id="defense" formControlName="defense" ngDefaultControl>
    </div>
  </div>
  <label for="esprit">Esprit</label>
  <div class="form-row">
    <div class="form-group col-sm-10">
      <ngb-progressbar  min="1" max="10" type="info" [value]="this.personnage.esprit" formControlName="esprit" ngDefaultControl></ngb-progressbar>
    </div>
    <div class="form-group col-sm-2">
      <input type="number"  min="1" max="10" class="form-control" [(ngModel)]="this.personnage.esprit" id="esprit" formControlName="esprit" ngDefaultControl>
    </div>
  </div>
  <label for="intelligence">Intelligence</label>
  <div class="form-row">
    <div class="form-group col-sm-10">
      <ngb-progressbar min="1" max="10" type="info" [value]="this.personnage.intelligence" formControlName="intelligence" ngDefaultControl></ngb-progressbar>
    </div>
    <div class="form-group col-sm-2">
      <input  min="1" max="10" type="number" class="form-control" [(ngModel)]="this.personnage.intelligence" id="intelligence" formControlName="intelligence" ngDefaultControl>
    </div>
  </div>
  <label for="init">Init</label>
  <div class="form-row">
    <div class="form-group col-sm-10">
      <ngb-progressbar   min="1" max="10" type="info" [value]="this.personnage.init" formControlName="init" ngDefaultControl></ngb-progressbar>
    </div>
    <div class="form-group col-sm-2">
      <input  min="1" max="10" type="number" class="form-control" [(ngModel)]="this.personnage.init" id="init" formControlName="init" ngDefaultControl>
    </div>
  </div>
  <div class="form-group">
    <label for="inventaire">Inventaire</label>
    <textarea class="form-control" id="inventaire" rows="3" formControlName="inventaire" placeholder="Donner l'inventaire du personnage"></textarea>
  </div>
  <div class="form-group">
    <label for="equipement">Equipement</label>
    <textarea class="form-control" id="equipement" rows="3" formControlName="equipement" placeholder="Donner l'équipement du personnage"></textarea>
  </div>
  <div class="form-group">
    <label for="background">Background</label>
    <textarea class="form-control" id="background" rows="3" formControlName="background" placeholder="Raconter l'histoire de son personnage"></textarea>
  </div>
  <div class="form-group">
    <label for="race">Choisir sa race</label>
      <select id="race" class="form-control" formControlName="race" placeholder="choisir la race">
        <option>Demi-elfe</option>
        <option>Demi-orque</option>
        <option>Elfe</option>
        <option>Gnome</option>
        <option>Halfelin</option>
        <option>Humain</option>
        <option>Nain</option>
      </select>
  </div>
  <div class="form-group">
    <label for="sexe">Choisir le sexe</label>
    <select id="sexe" class="form-control" formControlName="sexe" placeholder="choisir le sexe">
      <option>Homme</option>
      <option>Femme</option>
      <option>Trans</option>
      <option>Inconnu</option>
      <option>Asexué</option>
    </select>
  </div>
  <div class="form-group">
    <label for="avatar">Choisir son avatar</label>
    <select id="avatar" class="form-control" formControlName="avatar" placeholder="choisir l'avatar">
      <option selected>Choisir....</option>
      <option>Homme</option>

    </select>
  </div>


</form>
