<form>
  <div class="form-group">
    <label for="text">Nom du Personnage</label>
    <input type="text" class="form-control" id="text" aria-describedby="Nom" placeholder="Entrer un nom">
  </div>
  <div class="form-group">
    <label for="class">Choisir sa classe</label>
      <select id="class" class="form-control">
        <option selected>Choisir....</option>
        <option>Barbare</option>
        <option>Barde</option>
        <option>Druide</option>
        <option>Ensorceleur</option>
        <option>Guerrier</option>
        <option>Magicien</option>
        <option>Moine</option>
        <option>Paladin</option>
        <option>Prêtre</option>
        <option>Rôdeur</option>
        <option>Roublard</option>
      </select>
  </div>
  <label for="pv">Points de vie</label><br>
  <div class="form-row">
    <div class="form-group col-sm-10">
      <ngb-progressbar type="info" [value]="25"></ngb-progressbar>
    </div>
    <div class="form-group col-sm-2">
      <input type="number" class="form-control" id="pv">
    </div>
  </div>
  <label for="puissance">Puissance</label>
  <div class="form-row">
    <div class="form-group col-sm-10">
      <ngb-progressbar type="info" [value]="25"></ngb-progressbar>
    </div>
    <div class="form-group col-sm-2">
      <input type="number" class="form-control" id="puissance">
    </div>
  </div>
  <label for="defense">Défense</label>
  <div class="form-row">
    <div class="form-group col-sm-10">
      <ngb-progressbar type="info" [value]="25"></ngb-progressbar>
    </div>
    <div class="form-group col-sm-2">
      <input type="number" class="form-control" id="defense">
    </div>
  </div>
  <label for="esprit">Esprit</label>
  <div class="form-row">
    <div class="form-group col-sm-10">
      <ngb-progressbar type="info" [value]="25"></ngb-progressbar>
    </div>
    <div class="form-group col-sm-2">
      <input type="number" class="form-control" id="esprit">
    </div>
  </div>
  <label for="intelligence">Intelligence</label>
  <div class="form-row">
    <div class="form-group col-sm-10">
      <ngb-progressbar type="info" [value]="25"></ngb-progressbar>
    </div>
    <div class="form-group col-sm-2">
      <input type="number" class="form-control" id="intelligence">
    </div>
  </div>
  <label for="init">Init</label>
  <div class="form-row">
    <div class="form-group col-sm-10">
      <ngb-progressbar type="info" [value]="25"></ngb-progressbar>
    </div>
    <div class="form-group col-sm-2">
      <input type="number" class="form-control" id="init">
    </div>
  </div>
  <label for="inventaire">Inventaire</label>
  <div class="form-row">
    <div class="form-group col-sm-10">
      <ngb-progressbar type="info" [value]="25"></ngb-progressbar>
    </div>
    <div class="form-group col-sm-2">
      <input type="number" class="form-control" id="inventaire">
    </div>
  </div>
  <label for="equipement">Equipement</label>
  <div class="form-row">
    <div class="form-group col-sm-10">
      <ngb-progressbar type="info" [value]="25"></ngb-progressbar>
    </div>
    <div class="form-group col-sm-2">
      <input type="number" class="form-control" id="equipement">
    </div>
  </div>
  <div class="form-group">
    <label for="background">Background</label>
    <input type="text" class="form-control" id="background" aria-describedby="Nom" placeholder="Raconter l'histoire de son personnage">
  </div>
  <div class="form-group">
    <label for="race">Choisir sa race</label>
      <select id="race" class="form-control">
        <option selected>Choisir....</option>
        <option>Demi-elfe</option>
        <option>Demi-orque</option>
        <option>Elfe</option>
        <option>Gnome</option>
        <option>Halfelin</option>
        <option>Humain</option>
        <option>Nain</option>
      </select>
  </div>
  <div class="form-group">
    <label for="sexe">Choisir le sexe</label>
    <select id="sexe" class="form-control">
      <option selected>Choisir....</option>
      <option>Homme</option>
      <option>Femme</option>
      <option>Trans</option>
      <option>Inconnu</option>
      <option>Asexué</option>
    </select>
  </div>
</form>
