
  <div class="row">
    <div class="col-12">
      <img src="assets/imageDes/des.jpg" class="img" alt="image de dés"/>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div id="desSix" class="form-group">
        <p>Doit afficher Résultat dés 6</p>
      </div>
    </div>
    <div class="col-6">
      <div id="desVingt" class="form-group">
        <p>Doit afficher Résultat dés 20</p>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-dark">Lancer les dés</button>
