p{
  border: solid black 1px;
}
footer {
  vertical-align: baseline;
}

img {
  margin-top: 50px;
  margin-bottom: 40px;
}

.resultat{
  width: 90px;
  height: 90px;
  /*border: solid black 5px;*/
  font-size: 40px;
  font-family: Trattatello, fantasy, sans-serif;
  margin-left: 25px;
  padding-left: 25px!important;
}

.buttons{
  margin-top: 40px;

}

