.container{
  background-image: url("/assets/imageAccueil/final_fantaisy.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;

}

.form-group{
  display: block;
  margin-top: 600px;
  vertical-align:baseline;
}

.form-row{
  margin-left: 250px;
}

.titre{
  padding-top: 100px;
  padding-left: 400px;
  font-size: 500px;
}
